:root {
  --color: #fff;
  --white: #000;
}
.vodiapicker, .vodiapicker2{ display: none; }
#a, #a2{ padding-left: 0px; }
#a img, .btn-select img, .btn-select2 img, #a2 img{ width: 24px; position: absolute; top: 16px; }
#a li, #a2 li{ list-style: none; padding: 2px 10px; position: relative; }
#a li:hover, #a2 li:hover{ background-color: #F4F3F3; }
#a li span, .btn-select li span, .btn-select2 li span, #a2 li span{ margin-left: 30px; position: relative; margin-right: 10px; font-size: 14px; font-weight: bold; }

.b,.b2{ display: none; width: 100%; max-width: 350px; box-shadow: 0 6px 12px rgba(0,0,0,.175); border: 1px solid rgba(0,0,0,.15); border-radius: 5px; position: absolute; }
.open{ display: show !important; }
.btn-select, .btn-select2{ margin-top: 10px; width: 100%; max-width: 350px; height: 34px; border-radius: 5px; background-color: transparent; }
.btn-select li, .btn-select2 li{ list-style: none; float: left; padding:2px 10px; }
.btn-select:hover li, .btn-select2:hover li{ margin-left: 0px; }
.btn-select:focus, .btn-select2:focus{ outline:none; }
.lang-select{ padding-right:27px; } 
.sel li {position:relative;}
.sel img { top: 4px !important; }
.btn-select li:after, .btn-select2 li:after { width: 24px; height: 24px; background-image: url(../img/down.png); background-repeat: no-repeat; background-position: center; content: ""; position: absolute; bottom: 11px; }
.btn-select.blackbtn li:after, .btn-select2.blackbtn li:after { width: 24px; height: 24px; background-image: url(../img/down2.png); background-repeat: no-repeat; background-position: center; content: ""; position: absolute; bottom: 11px; }
.b.blacklanguage span { color: #fff; }

html.nosmoth {scroll-behavior: unset; } 
.fixed-head { background: #33333373; backdrop-filter: blur(2rem); }
.fixed-head .text-xl.font-thin.flex.items-center { color: #fff; }
.fixed-head .btn-select.blackbtn li:after{background-image: url(../img/down.png);}
.fixed-head .nav-header>.nav-a.active:after{border-bottom: solid 3px #fff;}
.fixed-head .header-mobile.homepagenav { background: #33333373; backdrop-filter: blur(2rem); }
.header-mobile.homepagenav{background: transparent;}
.whitemenu .navicon:before, .whitemenu .navicon:after { background: #fff !important; }
.header-mobile .menu-icon.whitemenu .navicon { background: #fff; }


.hbox::after{border-radius: 0 0 32px 32px; content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; z-index: -1; background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .7))); background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .7));}
#a li:hover { background: #fb004f; }
#a{background-color: #333;}

.navTrigger { position: absolute; top: 30px; right: 0px; z-index: 1000; width: 38px; height: 38px; background: none; border: 0; outline: none; border: none; cursor: pointer; -webkit-appearence: none; -webkit-tap-highlight-color: transparent; }
.navTrigger:focus { outline: none; }
.navTrigger.burgermenu svg {stroke: #fff; } 
.navTrigger svg { height: 46px; top: -6px; left: -28px; stroke: #964f4c; stroke-width: 4px; stroke-linecap: round; stroke-linejoin: round; fill: none; display: block; position: absolute; }
.navTrigger svg path { transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s); stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px); stroke-dashoffset: var(--offset, 126px); transform: translateZ(0); }
.navTrigger svg path:nth-child(2) { --duration: 0.7s; --easing: ease-in; --offset: 100px; --array-2: 74px; }
.navTrigger svg path:nth-child(3) { --offset: 133px; --array-2: 107px; }
.navTrigger.active svg { stroke: var(--white); }
.navTrigger.active svg path { --offset: 57px; }
.navTrigger.active svg path:nth-child(1), .navTrigger.active svg path:nth-child(3) { --delay: 0.15s; --easing: cubic-bezier(0.2, 0.4, 0.2, 1.1); }
.navTrigger.active svg path:nth-child(2) { --duration: 0.4s; --offset: 2px; --array-1: 1px; }
.navTrigger.active svg path:nth-child(3) { --offset: 58px; }

.navMenu { position: absolute; top: 0; right: 0; left: 0; bottom: 0; text-align: center; background: rgba(0, 0, 0, 0.5); opacity: 0; z-index: -1; visibility: hidden; transition: all 0.375s; }
.navMenu.active { opacity: 1; z-index: 100; visibility: visible; height: 100vh; }
.navMenu.active::before { transform: skew(-14deg) translateX(0); }
.navMenu.active li { opacity: 1; transform: translateY(0); }
.navMenu::before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: -15px; background: var(--color); transform-origin: 0 0; transform: skew(-14deg) translateX(-120%); transition: all 0.275s 0.1s; }
.navMenu ul { list-style: none; padding: 0; display: inline-flex; flex-direction: column; height: 93%; align-items: flex-end; justify-content: center; transform: translateX(-18%) skew(-16deg); color: #333; }
.navMenu ul li { display: block; margin: 0.5rem 0; text-align: right; opacity: 0; transform: translateY(-10px); }
.navMenu ul li a { position: relative; left: 0; display: block; padding: 12px 0; text-decoration: none; transform: skew(16deg); transition: 0.25s; }
.navMenu ul li a:hover { left: 10px; }
.navMenu ul li:nth-child(1) { transition: all 275ms 275ms; }
.navMenu ul li:nth-child(2) { transition: all 275ms 325ms; }
.navMenu ul li:nth-child(3) { transition: all 275ms 375ms; }
.navMenu ul li:nth-child(4) { transition: all 275ms 425ms; }
.navMenu ul li:nth-child(5) { transition: all 275ms 475ms; }
.navfont a { font-family: "Kanit", sans-serif; font-weight: 500; }
.icondown.showicon,.icondown2,.icondown4,.icondown3.showicon { display: none; }
.icondown2.showicon,.icondown4.showicon{ display: block; }
.videoabsolute { position: absolute; top: 20%; width: 100px; right: 58%;}

.desktop-only{ display: block !important; }
.desktop-onlyflex{display: flex !important;}
.mobile-only{display: none !important;}
.hidden.logodefault.showlogo { display: block; }
.logodefault.showlogo { display: none; }
.detail-list img, .detail-list p { padding-bottom: 1.5rem; }

.header-mobile { background-color: #fff; box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); position: fixed; width: 100%; z-index: 3; }
.header-mobile ul { margin: 0; padding: 0; list-style: none; overflow: hidden; background-color: #fff; }
.header-mobile li a { display: flex; padding: 20px 20px; text-decoration: none; }
.header-mobile .collapsible{ padding: 20px 20px; width: 100%; text-align: left; }
.header-mobile li a:hover, .header-mobile .menu-btn:hover { background-color: #f4f4f4; }
.header-mobile .logo { display: block; float: left; font-size: 2em; padding: 10px 20px; text-decoration: none; }

/* menu */
.header-mobile .menu { clear: both; max-height: 0; transition: max-height .2s ease-out; }
/* menu icon */

.header-mobile .menu-icon { cursor: pointer; display: inline-block; float: right; padding: 28px 20px; position: relative; user-select: none; }
.header-mobile .menu-icon .navicon { background: #333; display: block; height: 2px; position: relative; transition: background .2s ease-out; width: 18px; }
.header-mobile .menu-icon .navicon:before, .header-mobile .menu-icon .navicon:after { background: #333; content: ''; display: block; height: 100%; position: absolute; transition: all .2s ease-out; width: 100%; }
  .header-mobile .menu-icon .navicon:before { top: 5px; }
  .header-mobile .menu-icon .navicon:after { top: -5px; }

/* menu btn */
.header-mobile .menu-btn { display: none; }
.header-mobile .menu-btn:checked ~ .menu { max-height: 100%; font-size: 14px; color: #232020; overflow: scroll; height: 1000px; }
.header-mobile .menu-btn:checked ~ .menu-icon .navicon { background: transparent; }
.header-mobile .menu-btn:checked ~ .menu-icon .navicon:before { transform: rotate(-45deg); }
.header-mobile .menu-btn:checked ~ .menu-icon .navicon:after { transform: rotate(45deg); }
.header-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after { top: 0; }
.content { padding: 0 18px; display: none; overflow: hidden; }
button.collapsible.second { padding: 20px 20px; }
.content .navmenubig a { padding: 10px 0; border-right: 0; }
/* ============== */
.menu.text-black input { display: none; }
.menu.text-black input:checked ~ .menu { right: 0; bottom: 0; max-height: 500px; overflow: scroll; height: 500px; }
.menu.text-black input:checked ~ .menu__close { opacity: 1; visibility: visible; }
.menu.text-black input:checked ~ label.menu__button::before { content: "Collapse Menu"; }
.menu.text-black .menu__button { display: inline-block; padding: 20px 20px; color: #333; margin: 0 auto; cursor: pointer; transition: 0.3s ease; box-sizing: border-box; }
.menu.text-black .menu__button::before { content: "Shop"; }
.menu.text-black .menu__button::after{ content: ""; background-image: url(../img/icon/right.png); width: 20px; height: 20px; position: absolute; right: 0; background-repeat: no-repeat; background-size: contain; }
.menu.text-black .menu__close { position: absolute; top: 70px; left: 12px; height: 50px; width: 100%; opacity: 0; visibility: hidden; transition: 0.3s ease; z-index: 99; display: flex; background-color: #fff; align-items: center; }
.menu.text-black .menu { height: 100%; width: 100%; position: fixed; right: -1920px; top: 40px; margin-top: 40px; background: #fff; transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); z-index: 2; padding-top: 40px; }
.menu__close.uptodo { top: 0 !important; right: 0; left: inherit !important; z-index: 9999 !important; background-color: transparent !important; }
.menu.text-black .menu .menu__container { width: 100%; height: 100%; background: #fff; }
.menu.text-black .menu nav { width: 100%; height: 100%; overflow-y: scroll; }
.menu.text-black .menu nav h3, .menu.text-black .menu nav a { text-align: left; padding: 20px calc(20px + 30px) 20px 20px; margin: 0; font-weight: 300; color: #333; }
.menu.text-black .menu nav h3 { background: #6F3025; font-size: 25px; }
.menu.text-black .menu nav a { font-size: 16px; transition: 0.3s ease; cursor: pointer; display: block; text-decoration: none; }
.menu.text-black .menu nav a:hover { background: #A44537; }


/* Core styles/functionality */
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 16rem;
  background: #fff;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    color: #333;
    border: 1px solid #ccc;
}
.tab input:checked ~ .tab__content a:hover{background: #ccc;}

/* Visual styles */
.accordion {
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
}
.tab__label,
.tab__close {
  display: flex;
  color: white;
  background: ;
  cursor: pointer;
}
.tab__label {
  padding: 1rem;
    justify-content: center;
    align-items: center;
}
.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
  margin-left: 10px;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--secondary);
}

/* ==== */
.accordion2 {
  max-width: 100%;
  margin: 0 auto;
  border-bottom:1px solid #efefef;
}
.accordion2 input{
  display: none;
}
.accordion2 input + label {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 10px 55px 10px 0;
  color: #262626;
  background: #fff;
  border-top:1px solid #efefef;
}
.accordion2 label svg {
  font-size: 0.9em;
  position: absolute;
  left: 15px;
  top: 14px;
}
.accordion2 label .fa-chevron-down {
  right: 20px;
  left: auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
 -o-transition: all 0.3s ease;
 transition: all 0.3s ease;
}
.accordion2 input:checked + label .fa-chevron-down{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 transform: rotate(180deg);
}
.accordion2 .item {
  transform: scaleY(0);
  transform-origin: top;
  max-height: 0px;
  overflow: hidden;
  position: relative;
  padding: 10px 0 25px 0;
  font-weight: normal;
  font-size: 16px;
  color: #333333;
  transition: all 0.3s ease-in-out;
}
#item1:checked ~ #content1,
#item2:checked ~ #content2,
#item3:checked ~ #content3,
#item4:checked ~ #content4,
#item5:checked ~ #content5,
#item6:checked ~ #content6,
#item7:checked ~ #content7,
#item8:checked ~ #content8,
#item8:checked ~ #content8,
#item9:checked ~ #content9,
#item10:checked ~ #content10,
#item11:checked ~ #content11,
#item12:checked ~ #content12,
#item13:checked ~ #content13,
#item14:checked ~ #content14,
#item15:checked ~ #content15,
#item16:checked ~ #content16,
#item17:checked ~ #content17,
#item18:checked ~ #content18 {
  max-height: 100%;
  transform: scaleY(1);
}
.accordion2 .item p {
  padding: 10px 0;
  margin: 0;
}
label[for=item1],label[for=item5],label[for=item6],label[for=item11],label[for=item18]{
  border-top: 0 !important;
}
small.form-text.text-muted {
  position: absolute;
  bottom: -40px;
}
.videowrapper { float: none; clear: both; width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0; } .videowrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.sel li a { width: 111%; display: block; }
button.btn-select.blackbtn li a {
  width: unset;
  height: unset;
  display: contents;
  opacity: 0;
  text-decoration: none;
  pointer-events: none;
}

/* Mobile  Base*/
@media screen and (min-width: 0px) and (max-width: 1023px) {
.desktop-only, .desktop-onlyflex{ display: none !important; }
.mobile-only{display: block !important;}
.videoabsolute { position: absolute; top: -18px; width: 77px; left: 24%; }
.crousel-mobile { overflow-y: hidden; overflow-x: auto; width: 100%; position: relative; height: 47px; border-bottom: 2px solid #ccc; }
.crousel-mobile > div >  ul { position: absolute; top: -10px; left: 0; }
.bordercustom { border-bottom: 3px solid #232020 !important; }
.crousel-mobile > div > ul > li { padding: 14px 10px; float: left; width: max-content; overflow: hidden; }
.crousel-mobile > div > ul > li:first-child{ margin-left: 0; } 
.headbase-one{ padding-top: 144px; }
.iconmobile > svg{width: 64px;height: 64px;margin-top: 24px;}
.accordion2 input + label { padding: 10px 55px 0px 0;}
.accordion2 label svg{width: 20px;top: 5px;}
.accordion2 .item{padding: 10px 0 10px 0;}
.list-none.mobile-only input { display: none; }


}


/* Desktop Base */
@media screen and (min-width: 1023px) {

.nav-header { display: inline-flex; flex-direction: row; }
.nav-header>.nav-a { display: inline-block; text-decoration: none; font-weight: 600; }
.nav-header.black>.nav-a{ color: #232020; }
.nav-header.black>.nav-a:after, .nav-header>.nav-a.navMenu.active:after{border-bottom: solid 3px #964F4C;}
.nav-header>.nav-a.active:after { transform: none; }
.fixed-head .nav-header>.nav-a{ color: #fff; }
.nav-header>.nav-a:after { display:block; content: ''; width: inherit; border-bottom: solid 3px #fff; transform: scaleX(0); transition: transform 250ms ease-in-out; }
.nav-header>.nav-a:hover:after { transform: scaleX(1); }
.nav-header>.nav-a:after { transform-origin: left; }

.mega-menu { display: none; left: 0; position: absolute; text-align: left; width: 100%; }

.toggleable > label:after { content: "\25BC"; font-size: 13px; padding-left: 6px; position: relative; top: -1px; }
.toggle-input { display: none; } 
.toggle-input:not(checked) ~ .mega-menu { display: none; }
.toggle-input:checked ~ .mega-menu { display: block; height: 100vh; }
.toggle-input:checked + label { color: #232020; font-weight: bold; }
.toggle-input:checked ~ label:after { content: ""; background-image: url(../img/up.png); background-repeat: no-repeat; background-position: center; margin-left: 10px; position: relative; top: -1px; padding: 10px; }
.toggleable label:after { content: ""; background-image: url(../img/down.png); background-repeat: no-repeat; background-position: center; margin-left: 10px; position: relative; top: -1px; padding: 10px; }
.toggleable.blacktogle label:after{background-image: url(../img/down2.png);}
.fixed-head .toggleable.blacktogle label:after { background-image: url(../img/down.png); }
.fixed-head .nav-header.black>.nav-a:after{border-bottom: solid 3px #fff;}
.logodefault.none { display: none; }
.logodark.show { display: block; }

.menuitemshow { background: #fff; color: #232020; }
.menuitemshow .nav-header a, .menuitemshow #a li span, .menuitemshow .btn-select li span, .menuitemshow .efectmenu, .menuitemshow h3  { color: #232020; font-weight:bold; }
.menuitemshow .efectmenu { background-color: #D2D3D3;}
.menuitemshow .efectmenu svg path { fill: #232020; }
.menuitemshow .nav-header>.nav-a:after { border-bottom: solid 4px #964F4C; }
.menuitemshow .b li span { color: #fff!important; }
.menuitemshow .btn-select li:after{background-image: url(../img/down2.png);}
.menuitemshow .toggle-input:checked ~ label:after{background-image: url(../img/up2.png);}
.crousel-desktop { background: #F6F6F6; padding: 20px; border-radius: 12px; }
.crousel-desktop .bordercustom{background:#E0DED4;border-radius: 8px;} 
.crousel-desktop li a:hover{background:#e0ded454;}
.crousel-desktop li a{ padding:20px 10px; border-radius: 8px; display: block; }
.navmenubig li a{font-weight:  400 !important;}




}
